 <!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Address - Edit</title>
    <meta name="description" content="EWDJ Exam Assignment EP 3:
A Spring Boot application for managing food truck festivals. The application allows the management of festivals and vendors.">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="/assets/css/bss-overrides.css">
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="/assets/js/theme.js"></script>
</head>

<body style="background-color: #f0f2f5;" id="page-top">
    <div id="wrapper">
        <nav class="navbar align-items-start p-0 sidebar sidebar-dark accordion bg-gradient-primary navbar-dark">
		    <div class="container-fluid d-flex flex-column p-0">
		        <a class="navbar-brand d-flex justify-content-center align-items-center m-0 sidebar-brand" href="#">
		            <div class="sidebar-brand-icon">
		                <div class="d-flex align-items-center justify-content-center me-2 ms-2" style="width: 30px;">
		                    <i class="fas fa-pepper-hot"></i>
		                </div>
		            </div>
		            <div class="mx-3 sidebar-brand-text"><span>FOODIE APP</span></div>
		        </a>
		        <hr class="my-0 sidebar-divider">
				<ul class="navbar-nav text-light fs-5" id="accordionSidebar">
				    <li class="nav-item">
				        <a class="nav-link d-flex align-items-center" th:href="@{/dashboard}">
				            <div class="d-flex align-items-center justify-content-center me-2 ms-2" style="width: 30px;">
				                <i class="fas fa-tachometer-alt fa-xl"></i>
				            </div>
				            <span class="fs-6">Dashboard</span>
				        </a>
				    </li>
				    <li class="nav-item">
				        <a class="nav-link d-flex align-items-center" th:href="@{/festivals}">
				            <div class="d-flex align-items-center justify-content-center me-2 ms-2" style="width: 30px;">
				                <i class="fas fa-calendar-alt fa-xl"></i>
				            </div>
				            <span class="fs-6">Festival</span>
				        </a>
				    </li>
				    <li class="nav-item">
				        <a class="nav-link d-flex align-items-center" th:href="@{/vendors}">
				            <div class="d-flex align-items-center justify-content-center me-2 ms-2" style="width: 30px;">
				                <i class="fas fa-truck fa-xl"></i>
				            </div>
				            <span class="fs-6">Vendor</span>
				        </a>
				    </li>
				    <li class="nav-item">
				        <a class="nav-link active d-flex align-items-center" th:href="@{/addresses}">
				            <div class="d-flex align-items-center justify-content-center me-2 ms-2" style="width: 30px;">
				                <i class="fa-solid fa-map-location-dot"></i></i>
				            </div>
				            <span class="fs-6">Addresses</span>
				        </a>
				    </li>
				    <li class="nav-item">
				        <a class="nav-link d-flex align-items-center" th:href="@{/profile}">
				            <div class="d-flex align-items-center justify-content-center me-2 ms-2" style="width: 30px;">
				                <i class="fas fa-user fa-xl"></i>
				            </div>
				            <span class="fs-6">Profile</span>
				        </a>
				    </li>
				</ul>
		    </div>
		</nav>
        <div class="d-flex flex-column" id="content-wrapper" style="margin-left: 224px;">
            <div id="content">
            
				<nav class="navbar navbar-expand bg-white shadow topbar p-2 fixed-top" style="z-index: 1030; margin-left: 224px;">
				    <div class="container-fluid">
				        <h3 class="m-0">Dashboard &gt; Address overview &gt; <span th:text="${address.name}">Address name</span></h3>
                            <ul class="navbar-nav flex-nowrap ms-auto">
                                <div class="d-none d-sm-block topbar-divider"></div>
                                <li class="nav-item dropdown no-arrow">
                                    <div class="nav-item dropdown no-arrow">
                                        <a class="dropdown-toggle nav-link p-0" aria-expanded="false" data-bs-toggle="dropdown" href="#">
                                        <span class="d-none d-lg-inline me-2 text-gray-900 large">Valerie Luna</span>
                                        <img class="border rounded-circle img-profile" src="/assets/img/avatars/avatar1.jpeg" style="width:28%; height: auto;">
                                        </a>
                                        <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in">
                                            <a class="dropdown-item"  th:href="@{/profile}"><i class="fas fa-user me-2 fa-sm fa-fw text-gray-400"></i>&nbsp;Profile</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt me-2 fa-sm fa-fw text-gray-400"></i>&nbsp;Logout</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    
                    <div class="container-fluid pt-4 mt-5" style="margin-right: 320px;">
                        <div class="card border-0 shadow-md m-4 p-1">
                            <div class="card-body d-flex align-items-center justify-content-between">
                                <h3 class="text-dark mb-0 fw-bold" th:text="${address.name}">Address Name</h3>
                                <div class="d-flex gap-2">
                                    <a href="javascript:history.back()" class="btn btn-primary fw-semibold fs-6">Return</a>
                                </div>
                            </div>
                        </div>
                        <div class="card border-0 shadow-md m-4 p-2">
                            <form th:action="@{/updateAddress}" th:object="${address}" method="post">
							    <div class="card-body">
							        <input type="hidden" th:field="*{id}" />
							
							        <div class="row">
									    <!-- General Info -->
									    <div class="col-md-6">
									        <h4 class="mb-4 fw-bold text-dark">General info</h4>
									
									        <p class="mb-2">
									            <strong class="text-dark">Name:</strong>
									            <input type="text" class="form-control" th:field="*{name}" placeholder="e.g. Address Name">
									        </p>
									        <p class="mb-2">
									            <strong class="text-dark">Country:</strong>
									            <input type="text" class="form-control" th:field="*{country}" placeholder="e.g. Belgium">
									        </p>
									        <p class="mb-2">
									            <strong class="text-dark">Place:</strong>
									            <input type="text" class="form-control" th:field="*{place}" placeholder="e.g. Ghent">
									        </p>
									        <p class="mb-2">
									            <strong class="text-dark">Postcode:</strong>
									            <input type="number" class="form-control"
											       th:name="postcode"
											       th:value="${address.postcode == 0} ? '' : ${address.postcode}"
											       placeholder="e.g. 9000" min="1000" max="9999" step="10">
									        </p>
									    </div>
									
									    <!-- Address Fields -->
									    <div class="col-md-6">
									        <h4 class="mb-4 fw-bold text-dark invisible">Address column 2</h4>
									
									        <p class="mb-2">
									            <strong class="text-dark">Street:</strong>
									            <input type="text" class="form-control" th:field="*{street}" placeholder="e.g. Main Street">
									        </p>
									        <p class="mb-2">
									            <strong class="text-dark">Number:</strong>
									            <input type="number" class="form-control"
											       th:name="number"
											       th:value="${address.number == 0} ? '' : ${address.number}"
											       placeholder="e.g. 10" min="0">
									        </p>
									        <p class="mb-2">
									            <strong class="text-dark">Addition:</strong>
									            <input type="text" class="form-control" th:field="*{addition}" placeholder="Optional (e.g. A)">
									        </p>
									    </div>
									</div>

							        </div>
							
							        <!-- Submit Buttons -->
							        <div class="mt-4 text-end">
							            <a href="javascript:history.back()" class="btn btn-danger fw-semibold fs-6 text-white me-2">Discard changes</a>
							            <button class="btn btn-success fw-semibold fs-6 text-white" type="submit">Save changes</button>
							        </div>
							</form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</html>