<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login - Foodtruckfestivals</title>
    <meta name="description" content="EWDJ Exam Assignment EP 3:
A Spring Boot application for managing food truck festivals. The application allows the management of festivals and vendors.">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">	
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/assets/css/bss-overrides.css}">
	<script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/assets/js/bs-init.js}"></script>
	<script th:src="@{/assets/js/theme.js}"></script>
</head>

<body class="bg-gradient-primary d-flex align-items-center justify-content-center min-vh-100">
    <div class="container">

        <div class="row justify-content-center">
                <div class="card shadow-lg mb-5 o-hidden border-0"   style="display:inline-block; width:fit-content; margin:auto;">
                    <div class="card-body p-5 text-center">
				        <h1>Error</h1>
				        <p class="fs-5">A mistake appears to happened</p>
				        <div class="row">
					        <div class="col ms-5">
								<a href="javascript:history.back()" class="btn btn-primary fw-semibold fs-6">Return</a>
							</div>
							<div class="col me-5">
						        <form th:action="@{/logout}" method="post">
						            <input class="btn btn-primary" type="submit" value="Logout" /> 
						            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
						        </form>
					        </div>
						</div>
				    </div>
            	</div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>